<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">{{title}}</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="d-flex flex-1 ms-3">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Buscar" aria-label="Recipient's username" aria-describedby="button-addon2">
            <button class="btn primary" type="button" id="button-addon2">Buscar</button>
          </div>
        </div>
        <ul class="navbar-nav mb-2 mb-lg-0">
          <li class="nav-item">
            <button class="nav-link btn btn-tansparent" >Alquiler</button>
          </li>
          <li class="nav-item">
            <button class="nav-link btn btn-tansparent" >Compra</button>
          </li>
        </ul>
        <button class="btn btn-primary" routerLink="/new">Publicar Propiedad</button>
      </div>
    </div>
</nav>